{{ define "common" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{Fullname}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header {{if .CommonConfig.RevealHeader }} class="fade-in" {{end}} {{if .CommonConfig.HideHeader }} style="opacity: 0; pointer-events: none;" {{end}}>
            <nav style="text-align: center;">
                <a href="/welcome">{{ .CommonStrings.HomeText }}</a>
                <a href="/about">{{ .CommonStrings.AboutText }}</a>
                <a href="/work">{{ .CommonStrings.WorkText }}</a>
                <a href="/contact">{{ .CommonStrings.ContactText }}</a>
                <a href="/language">{{ .CommonStrings.LanguageText }}</a>
            </nav>
            <hr>
        </header>

        <main>
            <div id="main-container">
                {{ template "content" . }}
            </div>
        </main>

        <footer>
            &copy; 2023 {{ .CommonStrings.CopyrightText }} <a href="/legal#license">{{ .CommonStrings.LicenseText }}</a> | <a href="/legal#privacy-policy">{{ .CommonStrings.PrivacyPolicyText }}</a>.
        </footer>
    </body>
</html>
{{ end }}