<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{Fullname}</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>

    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="/home"><img src="/static/favicon.ico" alt="home" width="24"></a></li>
                    <li><a href="/resume">about</a></li>
                    <li><a href="/portfolio">works</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
                <ul>
                    <li><a href="/language">language</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div>
                <img id="portrait" src="/static/portrait.jpg">
                <h2>-SELECT YOUR LANGUAGE-</h2>
                <ul>
                    <li><a href="/home/es">ESPAÑOL</a></li>
                    <li><a href="/home/en">ENGLISH</a></li>
                    <li><a href="/home/jp">日本語</a></li>
                </ul>
            </div>
        </main>

        <footer>
            &copy; 2023 by {Fullname}. Licensed under the MIT License.
        </footer>

    </body>

</html>
