/* General style */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Consolas, monospace;
    background-color: #af8f8f;
}

/* body {
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
} */

/* Navbar style */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer style */
footer {
    color: #333;
    padding: 5px 20px;
    position: fixed;
    bottom: 0;
    left: 15%;
}